/*!*Schrijf hier jouw eigen CSS!*!*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.pokemon-card-overview {
    display: flex;
    flex-direction: row;
}